#pagination {
  display: flex;
  justify-content: flex-end;
  button {
    background-color: $Lavender;
    padding: 0.5em 1em;
    margin: 0.3em;
    border-radius: 0.5em;
    &:active {
      background-color: orange;
      color: white;
    }
    &:focus {
      background-color: orange;
      color: white;
    }
  }
}
