$white: #fff;
$charcoal: #383f51;
$onyx: #343a40;
$denimBlue: #233eae;
$brightGray: #eaeaea;
$Gainsboro: #dfdfdf;
$rustyRed: #dc3545;
$Cultured: #f8f9f8;
$antiFlashWhite: #f2f2f2;
$Lavender:#E7E7FA ;
$black:black;
$font-size-xs: 14px;
// $font-size-sm: 17px;
$font-size-m: 16px;
$font-size-lg: 20px;
// $font-size-xl: 26px;
// $font-size-xxl: 38px;
